@import './variables';
@import 'node_modules/swiper/components/pagination/pagination';

body {
    color: $color-black;
    font-family: $font-euclid-regular;
    font-size: rem(16px);
}

@media (min-width: 768px) {
    :root {
        font-size: calc(0.6rem + ((1vw - 7.68px) * 1.25));
        min-height: 0vw;
    }
}

.text-align-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.mbc-10px {
    margin-bottom: 10px;
}

.mbc-24px {
    margin-bottom: rem(24px);
}

.mbc-24px-ipt {
    margin-bottom: rem(24px) !important;
}

.mbc-32px {
    margin-bottom: rem(32px);
}

.mbt-32px {
    margin-top: rem(32px);
}

.mbc-32px-ipt {
    margin-bottom: rem(32px) !important;
}

.mbc-60px {
    margin-bottom: rem(60px);
}

.mbc-60px-ipt {
    margin-bottom: rem(60px) !important;
}

.mrc-4px {
    margin-right: rem(4px);
}

.mrc-12px {
    margin-right: rem(12px);
}

.mrc-16px {
    margin-right: rem(16px) !important;
}

.mbc-40px {
    margin-bottom: rem(40px);
}

.mbc-80px {
    margin-bottom: rem(80px);
}

.mrc-16px-ipt {
    margin-right: rem(16px) !important;
}

.mlc-auto-ipt {
    margin-left: auto !important;
}

.mtc-2px {
    margin-top: rem(2px);
}

.mtc-16px {
    margin-top: rem(16px);
}

.mtc-40px {
    margin-top: rem(40px);
}

.m-0 {
    margin: 0;
}

.m-0-ipt {
    margin: 0 !important;
}

.mr-10px {
    margin-right: rem(10px);
}

.mb-0 {
    margin-bottom: 0;
}

.w-inherit {
    width: inherit;
}

.h-inherit {
    height: inherit;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.w-100px {
    width: 100px;
}

.font-size-16px {
    font-size: rem(16px);
}

.font-size-14px {
    font-size: rem(14px);
}

::-webkit-scrollbar {
    width: 0;
}

.p-relative {
    position: relative;
}
